@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<img src="~/Temp/4.jpg" style="width:100%; height:300px" />
<h3>MyanTour</h3>
                 
<p>MyanTour web application is for private Travel and Tour Company named shelterMyanmar.
MyanTour web app can sell ticket for flight and express within Myanmar.
MyanTour web application is suitable for
people who want to tavel everywhere safe and sound. 
   MyanTour was created with the goal of simplifying the discovery of Myanmar as a travel agency. 
    This website was created in 2019 to address that need, by offering a wealth of information for all types of visitor – and has been continually expanding since.
    As well as an abundance of destination writing, blogs, photos and videos, MyanTour provides a wide variety of tour options to fit the needs all types of traveler – from budget to luxury.
    We also provide comprehensive domestic transport, accommodation and business travel booking options.  
    MyanTour also offers online domestic travel booking (air, express,, boat and car hire) 
    and a variety of tour packages which can be tailored to your own needs; we have offices conveniently located in downtown 
    Yangon and station managers in Bagan, Mandalay and Inle Lake.
</p>
