
@{
    ViewBag.Title = "AboutMyanmar";
}

<h2>AboutMyanmar</h2>
@*video credit => https://www.youtube.com/watch?v=PRtpP5O8_4Q*@
<video src="~/Temp/Myanmar - A World Unseen.mp4" style="width:100%" controls></video>
<h1>Myanmar</h1>
<p>
    Myanmar (Burma) is a country that covers 676,578 square kilometres (about the size of France) and has a population of 52 million. These people are made up of a striking array of different ethnic groups, which include Bamar/Burmese (by some distance the largest in number), Shan, Karen, Kachin, Chin, Mon, Han Chinese and Indian, to name but a few.

    This variety of ethnicities also means massive language diversity, although Burmese is the official language, and English is widely used – to varying degrees of proficiency.

    Since 2005, the capital has been located in Nay Pyi Taw, but the former capital, Yangon (Rangoon), remains the biggest city, commercial centre, and arrival point for most visitors. The moving of capitals is in fact in line with the tradition of upheaval and renewal in Myanmar – the country has had many capitals over the years, including Mandalay, Inwa and Mrauk U, to name just a few.
    The official name of the country is the Republic of the Union of Myanmar. In 1989, the name was changed from Burma to Myanmar. Both names are derived from the majority ethnic group, the Bamar – Myanmar being the formal, literary term, and Burma the colloquial, everyday term.

    The reason this is a contentious issue is because the change was undertaken by an unelected military government without consulting the people. Under today’s more representative system, Aung San Suu Kyi's ruling National League for Democracy Party uses both ‘Myanmar’ and ‘Burma’; at a speech to foreign ambassadors in April 2016, Aung San Suu Kyi said that she would use both names after many years of only using ‘Burma’.

    The governments of countries such as the US and UK continue to use ‘Burma’, but ‘Myanmar’ is used in the vast majority of international media; it is used by the UN; and in general when travelling in the country you find that locals use ‘Myanmar’ when talking freely to foreigners.
</p>
<h3>Kingdoms, dynasties and British rule</h3> 
    <p>
    The large number of ethnic groups, or nationalities, that make up Myanmar’s population, together with the continual changing of capital cities, reflect a turbulent past. From the 11th through to the late 19th century, Myanmar was ruled by a succession of competing dynasties, the most successful and expansionist of which controlled not only Myanmar but much of what is now Thailand and Laos, as well as parts of India and China.

    The hills and mountains that surround the huge Irrawaddy valley form Myanmar’s natural borders and helped to protect it from foreign invasion for many centuries. However, they were not enough to halt the advance of the British Empire, which occupied Myanmar in two stages during the 19th century.
</p>
<h3>Independence</h3><p>
                         The Second World War saw Myanmar set as a battleground between Japanese and Allied forces, and large parts of the country were devastated. However, after a long struggle, Myanmar gained independence in 1948 – due in no small part to the determination of General (or Bogyoke, in Burmese) Aung San, who was murdered by political rivals only months before his dream was realised. Current democracy hero Aung San Suu Kyi is Aung San’s daughter, and was only two years old when he died.
    </p>
<h3>Myanmar culture</h3>
<p>
    Myanmar has a deep culture of hospitality and openness – most people who visit are struck by the warm and welcoming nature of the locals, who are often keen to ask questions and make friends. And the people love to enjoy themselves – whether it is taking part in one of the hundreds of festivals that happen around the country throughout the year or enjoying a game of football, everyone loves a boisterous public gathering to lift their spirits.

    Theravada Buddhism is the most widespread religion in Myanmar and plays a big role in public and private life. Most young people spend time in monastic education and monks and nuns, of whom there are hundreds of thousands, hold a revered place in society. Pagodas (religious monuments) can also be found on many roads, river banks, towns and villages throughout the country; they are central to the life of towns, with shopping arcades and other businesses sometimes built in their entrance areas.

    Outside of the main ethnic Burmese population areas, particularly in parts of Kachin, Karen and Chin states, Christianity is devoutly observed. American missionaries played a large part in converting previously animist locals during the late 19th and early 20th centuries, and elements of animism remain part of these cultures.

    Islam and Hinduism are also practiced in Myanmar, particularly by ethnic Indians, and temples can be found around the country – most notably in Yangon. Tensions between members of these religions and the Buddhist mainstream have sometimes surfaced, most notably with incidents of Buddhist-Muslim violence in recent years; most have occured in remote areas and foreigners have not been affected.

    Superstition is evident in Myanmar culture, although it is often played down. Some people consult astrologers about personal and business decisions, and it is said that the location of the new capital, Nay Pyi Taw, was decided on the advice of astrologers. In the 1980s, military dictator Ne Win introduced 35 and 75 kyat banknotes because of his belief in the special power of numbers.

    Traditional clothing in Myanmar varies around the country, but a national staple is the longyi (sarong), which is worn by both men and women. The longyi was in fact introduced relatively recently, in colonial times, but its popularity is rooted in its simplicity and suitability to such a hot climate.
</p>